<html>
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <title>Repeat Counter</title>
</head>
<body>
  <div class="container">
    <h1> You used your word {{total}} time(s) in your sentence. </h1>
  </div>

  <a href="/"><button type="submit" class="btn btn-warning">Count again</button></a>

</body>
</html>
